<a href="https://colab.research.google.com/github/Malinowsk/Ejercicios-en-Python/blob/main/Actividades.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""
Descripción de la actividad. 

En esta actividad, podrás poner en práctica todo lo aprendido durante la sesión.  

Dadas dos listas LISTA1 y LISTA2 debes realizar las siguientes tareas:

Añade a la LISTA1 el int 456789 y luego el string “Hola Mundo”
Luego añade a la LISTA2 el string “Hola y Adios” y luego el int 5555
Genera una LISTA3 con todos los elementos de la LISTA1 sin considerar el último elemento

Genera una LISTA4 con todos los elementos de la LISTA2 menos el primero y el último elemento
Finalmente, genera una LISTA6 con los elementos de la LISTA4 y de la LISTA3
"""

In [ ]:
lista1 = []
lista2 = []

In [ ]:
lista1.append(456789)
lista1.append("Hola Mundo")

In [ ]:
lista1

[456789, 'Hola Mundo']

In [ ]:
lista2 = ["Hola y Adios", 5555]

In [ ]:
lista2

['Hola y Adios', 5555]

In [ ]:
# Genera una LISTA3 con todos los elementos de la LISTA1 sin considerar el último elemento
lista3 = lista1[0:1]

In [ ]:
lista3

[456789]

In [ ]:
# Genera una LISTA4 con todos los elementos de la LISTA5 menos el primero y el último elemento
lista5 = [10,20,30,40]
lista4 = lista5[1:-1]

In [ ]:
lista4

[20, 30]

In [ ]:
lista6 = lista4 + lista3

In [ ]:
lista6

[20, 30, 456789]

In [ ]:
"""
Descripción de la actividad. 
A partir de una variable llamada tupla, imprimir por pantalla de forma ordenada, lo siguiente:
1. El último ítem de tupla
2. El número de ítems de tupla
3. La posición donde se encuentra el ítem 87 de tupla
4. Una lista con los últimos tres ítems de tupla
5. Un ítem que haya en la posición 8 de tupla
6. El número de veces que el ítem 7 aparece en tupla

Copia esta tupla para iniciar el ejercicio:
tupla = (8, 15, 4, 39, 5, 89, 87,  19, 7, -755, 88, 123, 2, 11, 15, 9, 355)
"""

In [ ]:
tupla = (8, 15, 4, 39, 5, 89, 87,  19, 7, -755, 88, 123, 2, 11, 15, 9, 355)

In [ ]:
print(tupla[-1])

355

In [ ]:
# 2. El número de ítems de tupla
print(len(tupla))

17

In [ ]:
# 3. La posición donde se encuentra el ítem 87 de tupla
print(tupla.index(87))

6

In [ ]:
# 4. Una lista con los últimos tres ítems de tupla
print(list(tupla[-3:]))

[15, 9, 355]

In [ ]:
# 5. Un ítem que haya en la posición 8 de tupla
print(tupla[8])

7

In [ ]:
# 6. El número de veces que el ítem 7 aparece en tupla
print(tupla.count(7))

1