<a href="https://colab.research.google.com/github/Malinowsk/Ejercicios-en-Python/blob/main/Actividades.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""
Actividad 1
En una lista encontraremos diferentes operaciones relacionales, calcular
mentalmente el resultado de cada expresión y almacenarlo en una nueva lista que
contendrá únicamente valores lógicos True y False.

expresiones = [
    False == True,  # False
    10 >= 2*4,  # Verdadero
    33/3 == 11,  # Verdadero
    True > False,  # Verdadero
    True*5 == 2.5*2  # Verdadero
]
"""

In [ ]:
expresiones = [
    False == True,
    10 >= 2*4,
    33/3 == 11,
    True > False,
    True*5 == 2.5*2
]

In [ ]:
expresiones

[False, True, True, True, True]

In [ ]:
"""
Actividad 2
En una lista encontraremos diferentes operaciones lógicas. Calcular mentalmente el resultado
de cada expresión y almacenarlo en una nueva lista la cual contendrá únicamente valores lógicos True y False. 

expresiones = [
    not False,  # Verdadero
    not 3 == 5,  # Verdadero
    33/3 == 11 and 5 > 2,  # Verdadero and Verdadero
    True or False,  # True
    True*5 == 2.5*2 or 123 >= 23,  # verdadero or verdadero
    12 > 7 and True < False  # Verdadero and false => False
]
"""

In [ ]:
expresiones = [
    not False,
    not 3 == 5,
    33/3 == 11 and 5 > 2,
    True or False,
    True*5 == 2.5*2 or 123 >= 23,
    12 > 7 and True < False
]

In [ ]:
expresiones

[True, True, True, True, True, False]

In [ ]:
"""
Actividad 3
A partir de dos variables llamadas NOMBRE y EDAD, debes crear una variable que almacene
si se cumplen todas las siguientes condiciones, encadenando operadores lógicos en una sola línea:

NOMBRE sea diferente de cuatro asteriscos “****”
EDAD sea mayor que 5 y a su vez menor que 20
Que la longitud de NOMBRE sea mayor o igual a 4  pero a la vez menor que 8
EDAD multiplicada por 3 sea mayor que 35


Desde un input conseguir las variables:
nombre = INPUT!!!
edad = INPUT!!!!
"""

In [ ]:
nombre = input("Nombre:  ")
edad = int(input("Edad: "))

Nombre:  Pedro
Edad: 13

In [ ]:
# NOMBRE sea diferente de cuatro asteriscos “****”
nombre != "****"

# EDAD sea mayor que 5 y a su vez menor que 20
edad > 5 and edad < 20

# Que la longitud de NOMBRE sea mayor o igual a 4, pero a la vez menor que 8
len(nombre) >= 4 and len(nombre) < 8

# EDAD multiplicada por 3 sea mayor que 35
edad * 3 > 35

In [ ]:
resultado = (nombre != "****") and (edad > 5 and edad < 20) and (len(nombre) >= 4 and len(nombre) < 8) and (edad * 3 > 35)

In [ ]:
resultado

True

In [ ]:
# Ejercicios extras
"""
by Gonzalo
Escriba un programa que solicite al usuario su edad y si tiene un carnet de conducir.
Si la edad del usuario es mayor o igual a 18 y tiene un carnet de conducir, el programa debe imprimir "Puede conducir".
De lo contrario, debe imprimir "No puede conducir".
"""