<a href="https://colab.research.google.com/github/Malinowsk/Ejercicios-en-Python/blob/main/1-%20Curso%20de%20Manipulaci%C3%B3n%20y%20Transformaci%C3%B3n%20de%20Datos%20con%20Pandas%20y%20NumPy/pandas/condiciones_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importar librer√≠a

In [ ]:
import pandas as pd

### Cargar DataFrame

In [ ]:
df_books = pd.read_csv('/content/bestsellers with categories.csv',sep=',',header=0)
df_books.head(2)

                            Name        Author  ...  Year        Genre
0  10-Day Green Smoothie Cleanse      JJ Smith  ...  2016  Non Fiction
1              11/22/63: A Novel  Stephen King  ...  2011      Fiction

[2 rows x 7 columns]

### Filtrado por condiciones

In [ ]:
mayor_a_2016 = df_books['Year'] > 2016

In [ ]:
df_books[df_books['Year'] > 2016]

                                                  Name  ...        Genre
2              12 Rules for Life: An Antidote to Chaos  ...  Non Fiction
3                               1984 (Signet Classics)  ...      Fiction
4    5,000 Awesome Facts (About Everything!) (Natio...  ...  Non Fiction
7                       A Gentleman in Moscow: A Novel  ...      Fiction
8        A Higher Loyalty: Truth, Lies, and Leadership  ...  Non Fiction
..                                                 ...  ...          ...
544                                             Wonder  ...      Fiction
545       Wrecking Ball (Diary of a Wimpy Kid Book 14)  ...      Fiction
547  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction
548  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction
549  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction

[150 rows x 7 columns]

In [ ]:
df_books[mayor_a_2016]

                                                  Name  ...        Genre
2              12 Rules for Life: An Antidote to Chaos  ...  Non Fiction
3                               1984 (Signet Classics)  ...      Fiction
4    5,000 Awesome Facts (About Everything!) (Natio...  ...  Non Fiction
7                       A Gentleman in Moscow: A Novel  ...      Fiction
8        A Higher Loyalty: Truth, Lies, and Leadership  ...  Non Fiction
..                                                 ...  ...          ...
544                                             Wonder  ...      Fiction
545       Wrecking Ball (Diary of a Wimpy Kid Book 14)  ...      Fiction
547  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction
548  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction
549  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction

[150 rows x 7 columns]

In [ ]:
genre_fiction = df_books['Genre'] == 'Fiction'

In [ ]:
df_books[genre_fiction & mayor_a_2016]

                                                  Name  ...    Genre
3                               1984 (Signet Classics)  ...  Fiction
7                       A Gentleman in Moscow: A Novel  ...  Fiction
10                           A Man Called Ove: A Novel  ...  Fiction
13                    A Wrinkle in Time (Time Quintet)  ...  Fiction
40            Brown Bear, Brown Bear, What Do You See?  ...  Fiction
..                                                 ...  ...      ...
509                              To Kill a Mockingbird  ...  Fiction
529  What Should Danny Do? (The Power to Choose Ser...  ...  Fiction
534                            Where the Crawdads Sing  ...  Fiction
544                                             Wonder  ...  Fiction
545       Wrecking Ball (Diary of a Wimpy Kid Book 14)  ...  Fiction

[65 rows x 7 columns]

In [ ]:
df_books[~mayor_a_2016]

                                                  Name  ...        Genre
0                        10-Day Green Smoothie Cleanse  ...  Non Fiction
1                                    11/22/63: A Novel  ...      Fiction
5        A Dance with Dragons (A Song of Ice and Fire)  ...      Fiction
6    A Game of Thrones / A Clash of Kings / A Storm...  ...      Fiction
9                            A Man Called Ove: A Novel  ...      Fiction
..                                                 ...  ...          ...
540                                             Wonder  ...      Fiction
541                                             Wonder  ...      Fiction
542                                             Wonder  ...      Fiction
543                                             Wonder  ...      Fiction
546  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction

[400 rows x 7 columns]