<a href="https://colab.research.google.com/github/Malinowsk/Ejercicios-en-Python/blob/main/1-%20Curso%20de%20Manipulaci%C3%B3n%20y%20Transformaci%C3%B3n%20de%20Datos%20con%20Pandas%20y%20NumPy/Series_Dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importar librer√≠a

In [1]:
import pandas as pd

### Crear serie

In [2]:
psg_players = pd.Series(['Navas','Mbappe','Neymar','Messi'],
          index=[1,7,10,30]
          )

In [3]:
psg_players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [12]:
psg_players = pd.Series(['Navas','Mbappe','Neymar','Messi']
          )

In [5]:
dict = {1:'Navas',7:'Mbappe',10:'Neymar',30:'Messi'}
pd.Series(dict)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [6]:
psg_players[0:3]

0     Navas
1    Mbappe
2    Neymar
dtype: object

### Crear DataFrame

In [7]:
dict = {'Jugador':['Navas','Mbappe','Neymar','Messi'],
 'Altura':[183.0, 170.0, 170.0, 165.0],
 'Goles':[2,200,200,200]
 }

In [8]:
df_Players = pd.DataFrame(dict,index=[1,7,10,30])

In [9]:
df_Players.columns

Index(['Jugador', 'Altura', 'Goles'], dtype='object')

In [10]:
df_Players.index

Int64Index([1, 7, 10, 30], dtype='int64')

In [13]:
df_Players

   Jugador  Altura  Goles
1    Navas   183.0      2
7   Mbappe   170.0    200
10  Neymar   170.0    200
30   Messi   165.0    200